{% extends "base.html" %}
{% block body %}
<section class="section">
  <div class="container">
    <div class="content">
      <div class="columns">
        <div class="column">
          <h2>New Emote for <strong><a href="{{ url_for('guild', guild_id=guild.id) }}">{{ guild.name }}</a></strong></h2>
          <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}

            {{ form.emote.label(class_='label') }}
            <p class="control">
              {{ form.emote }}
              {% if form.emote.errors %}
              <span class="help is-danger">{{ form.emote.errors[0] }}</span>
              {% endif %}
            </p>
            {{ form.name.label(class_='label') }}
            <p class="control">
              {% if form.name.errors %}
              {{ form.name(class_='input is-danger') }}
              <span class="help is-danger">{{ form.name.errors[0] }}</span>
              {% else %}
              {{ form.name(class_='input') }}
              {% endif %}
            </p>
            <p class="control">
              <label class="checkbox">
                {{ form.shared(checked=True, class_='checkbox') }}
                {{ form.shared.label.text }}
              </label>
            </p>
            <p class="control">
              <input type="submit" value="Submit" class="button is-primary">
            </p>
          </form>
        </div>
        <div class="column">
          <div class="box">
            <div class="content">
              <strong>Guidelines</strong>
              <p>
                Emotes should be:
                <ul>
                  <li>
                    <strong>128 x 128</strong> or less
                  </li>
                  <li>
                    Less than <strong>2MB</strong>
                  <li>
                    <code>.png</code>, <code>.jpg</code> or <code>.jpeg</code> format
                  </li>
                  <li>
                    <strong>Appropiate</strong> - we don't allow adult material
                  </li>
                  <li>
                    <strong>Your own work</strong> - we don't allow copyrighted material (unless you have permission from the author)
                  </li>
                </ul>
                Emote names must be <strong>under 20 characters</strong>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
