<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />

  <title>{{ '%s - ' % title if title }}Discord Emotes</title>
  <meta name="description" itemprop="description" content="{{ desc if desc else 'Discord Emotes allows you to add more personality to your Discord server through emotes! Free, quick and easy.' }}" />
  <meta property="keywords" content="Discord,emotes,discord emotes,add emotes,server,discordemotes,discord add emotes,discord bot,discord emote bot" />
  <meta property="og:title" content="{{ title if title else 'Discord Emotes' }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.url }}" />
  <meta property="og:description" content="{{ desc if desc else 'Discord Emotes allows you to add more personality to your Discord server through emotes! Free, quick and easy.' }}" />
  <meta property="og:image" content="{{ url_for('static', filename='meta-img.png', _external=True) }}" />
  <meta property="og:site_name" content="Discord Emotes" />
</head>
<body class="site">
  <nav class="nav has-shadow">
    <div class="nav-left">
      <a class="nav-item is-brand" href="{{ url_for('main.index') }}">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Discord Emotes">
      </a>
    </div>

    <ul class="nav-right">
      {% if not g.user %}
        <li class="nav-item">
          <a class="button is-primary" href="{{ url_for('main.login') }}">
            Login with Discord
          </a>
        </li>
      {% else %}
        <li class="nav-item is-hidden-touch">
          <a class="button is-primary" href="{{ url_for('main.library') }}">
            Shared Library
          </a>
        </li>

        <li class="nav-item">
          <a href="{{ url_for('main.guilds') }}">{{ g.user.name }}
            <img class="avatar is-32x32 is-pulled-left" src="{{ g.user.avatar_url }}" alt="User avatar">
          </a>
          <ul class="has-text-centered">
            <li><a href="{{ url_for('main.guilds') }}">Guilds</a></li>
            <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
          </ul>
        </li>
      {% endif %}
    </ul>
  </nav>
  <main class="site-content">
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, message in messages %}
          <br>
          <div class="notification {{ category }}">
            <button class="delete" onclick="deleteNotifcation(this.parentNode);"></button>
            {{ message }}
          </div>
        {% endfor %}
      {% endwith %}
    </div>
    {% block body %}
      <div class="content has-text-centered">
        <p>You have reached a glitch!</p>
      </div>
    {% endblock %}
  </main>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <br>We are not affiliated with <a href="http://discordapp.com" target="_blank">Hammer &amp; Chisel Inc</a>.
        </p>
        <p>
          <a href="#">Terms</a> · <a href="#">Contact</a> · <a href="https://github.com/DiscordEmotes/website" target="_blank">GitHub</a>
        </p>
      </div>
    </div>
  </footer>
  <script href="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
