{% extends "base.html" %}
{% block body %}
<section class="section">
  <div class="container">
    <div class="content">
      <h1>{{ emote.name }}</h1>
      {% if not emote.verified %}
      <div class="notification is-warning">
        This emote is pending approval. You won't be able to use it in Discord yet.
      </div>
      {% endif %}
      <table class="table">
        <tbody>
          <tr>
            <td><strong>Emote</strong></td>
            <td><figure class="image is-128x128"><img src="/emotes/{{ emote.path() }}"></figure></td>
          </tr>
          <tr>
            <td><strong>Name</strong></td>
            <td>{{ emote.name }}</td>
          </tr>
          <tr>
            <td><strong>Server</strong></td>
            <td>{{ guild.name }}</td>
          </tr>
          <tr>
            <td><strong>Shared</strong></td>
            {% if emote.shared %}
              <td><span class="tag is-success">Yes</span></td>
            {% else %}
              <td><span class="tag is-danger">No</span></td>
            {% endif %}
          </tr>
        </tbody>
      </table>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
              <a href="{{ url_for('guild', guild_id=guild.id) }}" class="button is-primary">Back to {{ guild.name }}</a>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item"><a class="button is-info">
            {% if emote.shared %}
            Make private
            {% else %}
            Make shared
            {% endif %}
          </a></div>
          <div class="level-item"><a class="button is-danger">Delete emote</a></div>
        </div>
      </nav>
    </div>
  </div>
</section>
{% endblock %} 
