{% extends "base.html" %}
{% block body %}
<section class="section">
  <div class="container">
    <div class="content">
      {% if not emote.verified %}
      <div class="notification is-warning">
        {% if can_manage %}
        This emote is pending approval. You won't be able to use it in Discord yet.
        {% else %}
        This emote is pending approval. It won't be able to be used in Discord yet.
        {% endif %}
      </div>
      {% endif %}

      <h1 class="is-pulled-left">{{ emote.name }}</h1>
      {% if g.guilds and emote.shared %}
      <div class="is-pulled-right">
        <form method="POST" enctype="multipart/form-data">
          <p class="control has-addons">
            <span class="select">
              <select name="guild_added">
                <option value="" disabled selected hidden>Add to..</option>
                {%- for opt in g.guilds %}
                  {%- if opt.id != guild.id %}
                <option value="{{ opt.id }}">{{ opt.name }}</option>
                  {%- endif %}
                {%- endfor %}
              </select>
            </span>
            <input class="button is-info" type="submit" value="Add">
          </p>
        </form>
      </div>
      {% endif %}
      <table class="table">
        <tbody>
          <tr>
            <td><strong>Emote</strong></td>
            <td>
                <img src="/emotes/{{ emote.path() }}">
            </td>
          </tr>
          <tr>
            <td><strong>Name</strong></td>
            <td>{{ emote.name }}</td>
          </tr>
          <tr>
            <td><strong>Server</strong></td>
            <td>{{ guild.name }}</td>
          </tr>
          <tr>
            <td><strong>Shared</strong></td>
            {% if emote.shared %}
              <td><span class="tag is-success">Yes</span></td>
            {% else %}
              <td><span class="tag is-danger">No</span></td>
            {% endif %}
          </tr>
        </tbody>
      </table>
      <nav class="level is-mobile">
        {% if guild.public %}
        <div class="level-left">
          <div class="level-item">
              <a href="{{ url_for('main.guild', guild_id=guild.id) }}" class="button is-primary">Back to {{ guild.name }}</a>
          </div>
        </div>
        {% endif %}
        {% if can_manage %}
        <div class="level-right">
          <div class="level-item">
            <form method="POST" enctype="multipart/form-data">
              <p class="control">
                <input class="button is-info" type="submit" name="toggle" value="{{ 'Make Private' if emote.shared else 'Make Shared' }}">
                <input class="button is-danger" type="submit" name="delete" value="Delete Emote" onclick="return confirm('Are you sure you want to delete this emote?');">
              </p>
            </form>
          </div>
        </div>
        {% endif %}
      </nav>
    </div>
  </div>
</section>
<script>
</script>
{% endblock %}
