{% extends "base.html" %}
{% block body %}
<section class="section">
  <div class="container">
    <div class="content">
      <h1>{{ emote.name }}</h1>
      {% if not emote.verified %}
      <div class="notification">
        This emote is pending approval. You won't be able to use it in Discord yet.
      </div>
      {% endif %}
      <table class="table">
        <tbody>
          <tr>
            <td><strong>Emote</strong></td>
            <td><figure class="image is-128x128"><img src="/emotes/{{ emote.path() }}"></figure></td>
          </tr>
          <tr>
            <td><strong>Name</strong></td>
            <td>{{ emote.name }}</td>
          </tr>
          <tr>
            <td><strong>Server</strong></td>
            <td>{{ guild.name }}</td>
          </tr>
          <tr>
            <td><strong>Shared</strong></td>
            {% if emote.shared %}
              <td><span class="tag is-success">Yes</span></td>
            {% else %}
              <td><span class="tag is-danger">No</span></td>
            {% endif %}
          </tr>
        </tbody>
      </table>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
              <a href="{{ url_for('guild', guild_id=guild.id) }}" class="button is-primary">Back to {{ guild.name }}</a>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item"><form method="POST" enctype="multipart/form-data"><input class="button is-info" type="submit" name="toggle" value="{{ 'Make Private' if emote.shared else 'Make Shared' }}"></form>
          </a></div>
          <div class="level-item"><form method="POST" enctype="multipart/form-data"><input class="button is-danger" type="submit" name="delete" value="Delete Emote" onclick="return confirm('Are you sure you want to delete this emote?');"></div></form>
        </div>
      </nav>
    </div>
  </div>
</section>
<script>
</script>
{% endblock %} 
