{% extends "base.html" %}
{% block body %}
<section class="section">
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="heading">
            <h1 class="title">{{ guild.name }}</h1>
          </div>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item"><a href="{{ url_for('add_emote', guild_id=guild.id) }}" class="button is-primary">
          Upload Emote
        </a></div>
      </div>
    </nav>
    <div class="content">
      This is a list of all of the emotes that have been added to <strong>{{ guild.name }}</strong>. To add a new emote, press the <strong>Upload Emote</strong> button above, or search our <a href="#">Shared Library</a>.
    </div>
    {% if emotes %}
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Shared</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for emote in emotes %}
            <tr>
              <td><a href="{{ url_for('emote', guild_id=guild.id, emote_id=emote.id) }}"><img class="image is-64x64 is-pulled-right" src="/emotes/{{ emote.path() }}"></a></td>
              <td><a href="{{ url_for('emote', guild_id=guild.id, emote_id=emote.id) }}">{{ emote.name }}</a></td>
              {% if emote.shared %}
                <td><span class="tag is-success">Yes</span></td>
              {% else %}
                <td><span class="tag is-danger">No</span></td>
              {% endif %}
              {% if emote.verified %}
                <td><span class="tag is-success">Yes</span></td>
              {% else %}
                <td><span class="tag is-warning">Pending</span></td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="content">
        <div class="notification">
          This server currently has no emotes. <a href="{{ url_for('add_emote', guild_id=guild.id) }}">Why not add some?</a>
        </div>
      </div>
    {% endif %}
  </div>
</section>
{% endblock %}
