{% extends "base.html" %}
{% block body %}
<section class="section">
  <div class="container">
    <div class="heading">
      <h1 class="title">My Servers</h1>
    </div>
    <div class="content">
      To view and edit the emotes for a server, click on the name of it below.
    </div>
    {%- for column in guilds | batch(3) %}
      <div class="columns">
        {%- for guild in column %}
        <div class="column">
          <a href="{{ url_for('guild', guild_id=guild.id) }}">
            <article class="guild-entry media">
              <div class="media-left">
                <img class="avatar image is-64x64" src="{{ guild.icon_url | d('https://cdn.discordapp.com/embed/avatars/1.png', true) }}">
              </div>
              <div class="media-content">
                <div class="content">
                  {{ guild.name }}
                </div>
              </div>
            </article>
          </a>
        </div>
        {%- endfor %}
      </div>
    {%- endfor %}
    <div class="content">
      If the list above is missing the server you want to edit, ensure you have <strong>Manage Server</strong> permissions on the server.
    </div>
  </div>
</section>
{% endblock %}
