{% extends "base.html" %}
{% block body %}
{%- for column in guilds | batch(3) %}
  <div class="columns">
    {%- for guild in column %}
    <div class="column">
      <article class="guild-entry media">
        <div class="media-left">
          <figure class="avatar image is-64x64">
            <img src="{{ guild.icon_url | d('https://cdn.discordapp.com/embed/avatars/1.png', true) }}">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <a href="{{ url_for('guild', guild_id=guild.id) }}">{{ guild.name }}</a>
          </div>
        </div>
      </article>
    </div>
    {%- endfor %}
  </div>
{%- endfor %}
{% endblock %}
