{% extends "base.html" %}
{% block body %}
<div class="columns">
  <div class="column col-xs-2"></div>
  <div class="column col-xs-8">
    <h2>I enjoy writing boilerplate.</h2>
    <blockquote>
      <p>Boilerplate sure is nice.</p>
      <cite>- Some insane person</cite>
    </blockquote>
    <div class="divider"></div>
    {% if user %}
    <p>Logged in as {{ user.username }}#{{ user.discriminator }}</p>
    {% else %}
    <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg">Login with Discord</a>
    {% endif %}
  </div>
  <div class="column col-xs-2"></div>
</div>
{% endblock %}
