{% extends "base.html" %}
{% block body %}
<section class="section">
  <div class="container">
    <div class="heading">
      <h1 class="title">Welcome to Discord Emotes</h1>
    </div>
    <div class="content">
      DiscordEmotes allows you to add personality to your Discord server through emotes. It's quick, easy, and hooks directly into Discord - no registration required.
    </div>
  </div>
</section>
<section class="hero is-medium is-emoji is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <h1 class="title">
            Start adding emotes now
          </h1>
          <h2 class="subtitle">
            Enhance your server!
          </h2>
          {% if not g.user %}
            <a class="button is-large" href="{{ url_for('main.login') }}">
              <span>Login with Discord</span>
            </a>
          {% else %}
            <a class="button is-large" href="{{ url_for('main.guilds') }}">
              <span>My Servers</span>
            </a>
          {% endif %}
        </div>
    </div>
  </div>
</section>
{% endblock %}
