html {
    background-color: white;
}

.hero.is-light .nav-item a:not(.button),
.hero.is-light a.nav-item {
    color: rgba(105, 112, 122, .7);
}

.icon.avatar {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.avatar img {
    border-radius: 50%;
}

.guild-entry {
    border: 1px solid rgba(105, 112, 122, .2);
    padding: 5px;
    display: flex;
    align-items: center;
}

.hero.is-emoji {
    background: url(/static/bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

.hero.is-emoji .title {
  color: #f5f7fa;
}

.hero.is-emoji .title a,
.hero.is-emoji .title strong {
  color: inherit;
}

.hero.is-emoji .subtitle {
  color: rgba(245, 247, 250, 0.7);
}

.hero.is-emoji .subtitle a,
.hero.is-emoji .subtitle strong {
  color: #f5f7fa;
}