html {
    background-color: #fff;
}

.heading {
    letter-spacing: 0px;
    text-transform: none;
}

.hero.is-light .nav-item a:not(.button),
.hero.is-light a.nav-item {
    color: rgba(105, 112, 122, .7);
}

.avatar {
    border-radius: 50%;
    margin-right: 5px;
}

.guild-entry {
    border: 1px solid rgba(105, 112, 122, .2);
    padding: 10px;
    display: flex;
    align-items: center;
}

.hero.is-emoji {
    background: url('/static/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

.hero.is-emoji .title {
  color: #f5f7fa;
}

.hero.is-emoji .subtitle {
  color: rgba(245, 247, 250, 0.7);
}

.hero.is-emoji .subtitle a,
.hero.is-emoji .subtitle strong {
  color: #f5f7fa;
}

table.table tbody tr td {
    vertical-align: middle;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

.shared-emote {
    padding: 7px;
    align-items: center;
    text-align: center;
    background: #f5f5f5;
    font-size: 12px;
    width: 100px;
    height: 80px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shared-emote img {
    display: block;
    margin: auto;
    width: 40%;
}

.column.is-emote {
    padding: 2px;
}

.columns.is-centered {
    margin: auto;
    padding: 10px;
}