html {
    background-color: #fff;
}

.heading {
    letter-spacing: 0px;
    text-transform: none;
}

.hero.is-light .nav-item a:not(.button),
.hero.is-light a.nav-item {
    color: rgba(105, 112, 122, .7);
}

.icon.avatar {
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100px;
    height: 100px;
}

.avatar img {
    border-radius: 50%;
}

.nav-item.avatar img {
    margin-right: 5px;
}

.guild-entry {
    border: 1px solid rgba(105, 112, 122, .2);
    padding: 10px;
    display: flex;
    align-items: center;
}

.hero.is-emoji {
    background: url('/static/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

.hero.is-emoji .title {
  color: #f5f7fa;
}

.hero.is-emoji .subtitle {
  color: rgba(245, 247, 250, 0.7);
}

.hero.is-emoji .subtitle a,
.hero.is-emoji .subtitle strong {
  color: #f5f7fa;
}

.nav-item img {
    max-height: 32px;
}

table.table tbody tr td {
    vertical-align: middle;
}